{% extends "base/base.html" %}
{% load static %}
{% block css_style %}

<link href="{% static "vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" %} " rel="stylesheet">
<link href="{% static "vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %} " rel="stylesheet">
<link href="{% static "vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %} " rel="stylesheet">
<link href="{% static "vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %} " rel="stylesheet">
<link href="{% static "vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %} " rel="stylesheet">
<!-- Datatables -->
<link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock css_style %}
{% block content %}
<div class="">
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="page-title">
            <div class="">
                <h3>Total de Estudiantes {{request.user.profile.institution|default_if_none:"Municipio de Rionegro"}}</h3>
            </div>
        </div>
    </div>

          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
               
                <div class="x_content">
                 
                  
                 
                    <table width="100%"id="datatable-search" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        
                        <th>Documento</th>
                        <th>Genero</th>
                        <th>Fecha Nacimiento</th>
                        <th>Institución</th>
                        <th>Grado</th>
                        <th>Grupo</th>
                        <th>Biométrico</th>

                      </tr>
                    </thead>
                    <tbody>
                        {% if students %}
                        {% for student in students %}
                        <tr>
                                <td>{{student}}</td>
                                <td>{{student.document}}</td>
                                <td>{{student.gender}}</td>
                                <td>{{student.birthdate|date:"Y m d"}}</td>
                                <td>{{student.institution}}</td>
                                <td>{{student.grade}}</td>
                                <td>{{student.group}}</td>
                                <td>
                                    {% if student.got_dactilar %}
                                    <button type="button" class="btn btn-round btn-success"  > <i class="fa fa-hand-pointer-o"></i> Si</button>
                                    {% else %}
                                    <button type="button" class="btn btn-round btn-danger"  > <i class="fa fa-hand-pointer-o"></i> No</button>
                                    {% endif %}
                                    
                                </td>
                              </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
  
{% endblock content %}
{% block js_scripts %}
<!-- Datatables -->
<script src="{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %} "></script>
<script src="{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %} "></script>
<script src="{% static "vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %} "></script>
<script src="{% static "vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" %} "></script>
<script src="{% static "vendors/datatables.net-responsive/js/dataTables.responsive.min.js" %} "></script>
<script src="{% static "vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" %} "></script>
<script src="{% static "vendors/datatables.net-scroller/js/dataTables.scroller.min.js" %} "></script>


<script src="{% static "vendors/Buttons-1.5.1/js/dataTables.buttons.min.js" %} "></script>
<script src="{% static "vendors/Buttons-1.5.1/js/buttons.flash.min.js" %} "></script>
<script src="{% static "vendors/JSZip-2.5.0/jszip.min.js" %} "></script>
<script src="{% static "vendors/pdfmake-0.1.32/pdfmake.min.js" %} "></script>
<script src="{% static "vendors/pdfmake-0.1.32/vfs_fonts.js" %} "></script>
<script src="{% static "vendors/Buttons-1.5.1/js/buttons.html5.min.js" %} "></script>
<script src="{% static "vendors/Buttons-1.5.1/js/buttons.print.min.js" %} "></script>
<script>
      
        $(document).ready(function () {

                $(function () {
                  var idioma_espanol = {
                    "sProcessing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Cargando...</span> ',
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar: ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Cargando...</span>',
                    "oPaginate": {
                      "sFirst": "Primero",
                      "sLast": "Último",
                      "sNext": "Siguiente",
                      "sPrevious": "Anterior"
                    },
                    "oAria": {
                      "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                  }
            
                  var table = $('#datatable-search').dataTable({
                        language: idioma_espanol,
                        stateSave: false,
                        responsive: false,
                        dom: 'Blfrtip',

                        buttons: [
                            { extend: 'copy', text: 'Copiar', footer: true },
                            { extend: 'print', text: 'Imprimir', messageTop: 'listado Reservas', footer: true },
                            { extend: 'excel', text: 'Excel', messageTop: 'listado Reservas', footer: true },
                            { extend: 'csv', text: 'CSV', footer: true },
                            { extend: 'pdf', text: 'PDF', messageTop: 'listado Reservas', footer: true, orientation: 'landscape' },
                            ]
                    
                    
                  });
                });
            });
            

            </script>
  {% endblock js_scripts %}